/* section header */ 

header{
    background-color: $couleur-header;
    width: 100%;
    height: auto;

     h1{ 
        width: 150px;
        margin: auto;
        text-align: center;
        margin-top: 12px;
        font-weight: normal;
        font-family: $font-family-titre;
        font-size: 1.8em;

    }
} 

/*fleche de redirection vers la page d'accueil */
.fa-arrow-left{
    position: relative;
    left: 10px;
    top:-30px;
    font-size: 1.3em;
    color: black;
    transition: color 500ms;
 
    &:hover{
        color: $couleur-p-home;
    }
   
}
