
/* bouton explorer et commander*/
input{
   margin: auto; 
    max-width: 200px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: $input;
    background-image: $input-gradient;
    opacity: 1;
    color: $couleur-text-button;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    @include input-shadow;
    @include transition-shadow-bouton;

    &:hover{
       opacity: 0.8;
       @include input-shadow-hover;
    }
 }

 /* bouton fonctionnement */

 .nav_fonctionnement{
    margin-bottom: 20px;
    cursor: pointer;

    & ul{
        position: relative;
        bottom: 0px;
        margin:0 auto;
        padding:15px;
        padding-left: 30px;
        padding-top: 0px;
    }

     & li{
         color: black;
         font-size: 0.8em;
         font-weight: bold;
         line-height: 3.7;
         width: 100%; 
         text-align: left;
         height: 60px;
         background: $fond-conteneur-home;
         margin-top: 20px;
         border-radius: 20px;
         @include input-shadow;
         transition: all 1000ms;


         @include large {
            margin-right: 50px;
            max-width: 260px;
            width: 100%;
            height: 60px;
           display: inline-block;
        }

         & .fa-mobile-alt, .fa-list, .fa-store {
            padding-top: 20px;
            color:$couleur-p-home;
            transition: all 600ms;  
           } 
     }

     & li:hover{
      @include background-bouton;
      color:$couleur-primaire;
        
     } 

     & li:hover .fa-mobile-alt, li:hover .fa-list, li:hover .fa-store {
        color:$couleur-primaire;
          
       }
 }
 
 // selection du coeur 
 
 .icone-checkbox{
   position: relative;
   width: 90%;
   text-align: right;
   padding-right: 10px;
}

.icone-checkbox-menu{
   width: 90%;
   text-align: right;
   margin-top: -30px;

   @include moyen {
      width: 95%;
  }
}


.heart-plein, .heart-vide{
  position: absolute;
  font-size: 1.5em;
  cursor: pointer;
  width: 33px;
  margin-top: -15px;
  color: #747474;
  transition: all 1s linear;
   
  }
  
  .heart-plein {
   background: $coeur-home-hover;
   background: $coeur-home-gradient-hover;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 0;
}  

.heart-plein:hover {
   opacity: 1;
}

.heart-plein:focus {
   opacity: 1;
}


 // bouton des pages menu

      .menu_bouton{
         @include bouton-menu;
         @include input-shadow;
         animation: animation-menu 2500ms;

         &:hover {
           @include input-shadow-hover;
              
           } 
      
           &:hover .fa-check-circle{
            @include bouton-circle-hover
                
             }

             &:hover .icone-check{
               @include bouton-menu-hover
                   
                }
               & .prix{
                  font-size: 0.8em;
                  height: 100%;
                  margin-top: -35px;
                  margin-bottom: 20px;
                  font-weight: 600;
                  float: right;
                  margin-right: 10px;
                  transition: margin-right 1s;  
              }

                & p{
                  width: calc(100% - 60px);
                  height: 100%;
                  font-size: 0.9em;
                  margin-top: 0;
                  padding-top: 20px;
                  font-weight: 600;
                  padding-left: 10px;
                  white-space:normal; 
                  transition: all 1s;  
               }

               & .details{
                 display: block;
                 line-height: 2em;
                 font-size: 0.8em;
                 color: $couleur-p-home;
                 font-weight: 400;
               }

               &:hover p{
                  width: calc(100% - 150px);
                  white-space:nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis; 
               }

               &:hover .details{
                  white-space:nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis; 
               }

                   &:hover .prix{
                     margin-right: 70px;          
                      }
      }

      
      @keyframes animation-menu {
         from { opacity:0;
            margin-top: 30px;
                }
         to { opacity:1;
            margin-top: 15px;
             }
          }


        


 
 
