
$couleur-header: white;

$couleur-footer: rgb(53,53,53) ;

$couleur-text-footer: white;

$couleur-a-footer: rgb(212, 212, 212) ;

$couleur-text: black;

$couleur-text-button:white;

$couleur-primaire: #9356DC;

$couleur-secondaire:#FF79DA;

$couleur-tertiaire:#99E2D0;

$fond-conteneur-home:#f6f6f6;

$fond-localisation-home:rgb(233, 233, 233);

$couleur-p-home: rgb(116, 116, 116);

$input: rgba(255,121,218,1);
$input-gradient: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 93%);

$input-hover: rgb(255,121,218,0.7);
$input-gradient-hover: linear-gradient(170deg, rgba(255,121,218,0.7) 0%, rgba(255,121,218,0.7) 0%, rgba(147,86,220,0.7) 93%);

$coeur-home-hover: rgb(255,121,218,0.7);
$coeur-home-gradient-hover:linear-gradient(360deg, rgba(255,121,218,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 93%);

$font-family-titre:'Shrikhand', sans-serif;

$font-family-text:'Roboto', sans-serif;

$display-conteneur:flex;

